<!DOCTYPE html>
<html>
<head>
    <title>File Sharing System for DT project</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="style.css" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <!-- NAV-->
    <nav>
        <div class="nav-wrapper teal lighten-2">

            <a class="brand-logo center">DT File Sharing System</a>
            <div id="user-display" class="brand-logo left show-on-large brand-logo left">
            </div>

            <button id="signout-button" class="icon brand-logo right show-on-small"><span class="material-icons">logout</span></button>
        </div>
    </nav>
    <div class="row">
        <!-- login area-->
        <div id="login-area" class="col s12" style="display:block">
            <div class="card">
                <div id="login" class="card-content">
                    <span class="card-title teal-text text-light-1">Login</span>
                    <!-- login form-->
                    <form id="login-form">
                        <div class="input-field">
                            <input type="text" maxlength="10" id="signin-username" required="required">
                            <label class="active" for="signin-username"> Name</label>
                        </div>
                        <div class="input-field">
                            <input type="password" maxlength="16" id="signin-password" required="required">
                            <label class="active" for="signin-password"> Password</label>
                        </div>
                        <div class="right-align">
                            <button class="btn waves-effect waves-light
                                btn-small left" type="button"  id="action_to_register">No account?<i
                                    class="material-icons right">add_circle</i>
                            </button>
                            <button class="btn waves-effect waves-light
                                btn-small" type="submit" id="login-btn">Login
                            </button>
                        </div>
                    </form>
                </div>
                <div id="login-message" class="card-content red-text helper-text"></div>
            </div>
        </div>
        <!-- register area-->
        <div id="register-area" class="col s12" style="display:block">
            <div class="card">
                <div id="register" class="card-content">
                    <span class="card-title teal-text text-light-1">Register</span>
                    <!-- register form-->
                    <form id="register-form">
                        <div class="input-field">
                            <select id="register-avatar" >
                                <option value="">Select your avatar</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <input type="text" maxlength="10" id="register-username" required="required">
                            <label class="active" for="register-username"> Name</label>
                        </div>
                        <div class="input-field">
                            <input type="password" maxlength="16" id="register-password" required="required">
                            <label class="active" for="register-password"> Password</label>
                        </div>
                        <div class="input-field">
                            <input type="password" maxlength="16" id="register-confirm" required="required">
                            <label class="active" for="register-confirm"> Confirm Password</label>
                        </div>
                        

                       
                        <div>
                            <button class="btn waves-effect waves-light
                                btn-small left" type="button" id="action_login">Have account?<i
                                    class="material-icons right">check</i>
                            </button>
                            <button class="btn waves-effect waves-light
                                btn-small right" type="submit" id="register-btn">Register
                            </button>
                        </div>
                        <br>
                        <div id="register-message" class="card-content red-text helper-text"></div>
                    </form>
                </div>

            </div>
        </div>
        <div id="file-area" class="col s12" style="display:none">
        <div class="card">
                <div id="file-upload" class="card-content">
                    <span class="card-title teal-text text-light-1">Share Your Files</span>
                    <!-- upload form-->
                    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                        <div class="input-field">
                            <input type="file" id="file" required>
                        </div>
                        <div class="input-field">
                            <input type="password" id="fpassword" >
                            <label class="active" for="fpassword"> Optional Password</label>
                        </div>                
                        <div>
                            <button class="btn waves-effect waves-light
                                btn-small right" type="submit" id="share-btn">Share
                            </button>
                        </div>
                        <br>
                        <div id="share-message" class="card-content red-text helper-text"></div>
                    </form>
                </div>

            </div>
        <table  class="striped" >
            <caption><h3>Sharing files</h3></caption>
            <thead>
            <tr>
                <th>File</th>
                <th>Uploader</th>
                <th>Upload Time</th>
                <th>Download Counts</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody id="file-table-body">
            </tbody>
        </table>
        </div>
        
    </div>

  

    <footer class="page-footer teal lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">DT File System</h5>
                    <p class="grey-text text-lighten-4">This App is to help
                        file sharing for DT system.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright lighten-3">
            <div class="container">
                © 2022 Tony DU, All rights reserved.
                <a class="grey-text text-lighten-4 right" href="#!">MIT
                    License</a>
            </div>
        </div>
    </footer>


    <script src="scripts/avatar.js"></script>
    <script src="scripts/ui.js"></script>
    <script src="scripts/register.js"></script>
    <script src="scripts/authentication.js"></script>

    <script>
    $(document).ready(function() {
        // Initialize the UI
        UI.initialize();
        $('select').formSelect();
        
        // Validate the signin
        Authentication.validate(
            (user) => {
                //console.log("currently log in")
                SignInForm.registerHide();
                SignInForm.loginHide();
                UserPanel.show(user);
                //console.log('hi')
                FilePanel.show()

            },
            () => { 
                SignInForm.signinShow(); 
                UserPanel.hide();
                FilePanel.hide()
            }
        );
    });

    </script>
</body>
</html>
