<!DOCTYPE html>
<html>
<head>
    <title>File Sharing System for DT project</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <!-- NAV-->
    <nav>
        <div class="nav-wrapper teal lighten-2">

            <a class="brand-logo center">DT File Sharing System</a>
            <div id="user-display" class="brand-logo left show-on-large brand-logo left">
            </div>

            <button id="signout-button" class="icon brand-logo right show-on-small"></button>
        </div>
    </nav>
    <div class="row">
       
        
        <div id="file-download-area" class="col s12" style="display:block">
        <div class="card">
                <div id="file-download" class="card-content">
                    <span class="card-title teal-text text-light-1">
                        <% if(locals.filename!=null){ %>
                                <%= locals.filename %>
                        <%}%> requires a password</span>
                    <!-- login form-->
                    <form id="download-form" method="post">
                        <div class="input-field">
                            <input type="password" id ="password" name="password" required >
                            <label class="active" for="password"> Password</label>
                        </div>                
                        <div>
                            <button class="btn waves-effect waves-light
                                btn-small right" type="submit" id="Download-btn">Download
                            </button>
                        </div>
                        <br>
                        <div id="Download-message" class="card-content red-text helper-text">
                            <% if(locals.error!=null){ %>
                                <%= locals.message %>
                            <%}%>
                        </div>
                    </form>
                </div>

            </div>
       
        </div>
        
    </div>

  

    <footer class="page-footer teal lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">DT File System</h5>
                    <p class="grey-text text-lighten-4">This App is to help
                        file sharing for DT system.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright lighten-3">
            <div class="container">
                © 2022 Tony DU, All rights reserved.
                <a class="grey-text text-lighten-4 right" href="#!">MIT
                    License</a>
            </div>
        </div>
    </footer>
    
</body>
</html>
